.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../assets/2.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  opacity: .95;
}
.profilepg {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/contactimg2.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
}
/* h4 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: start;
  padding-bottom: 10px;
  padding-left: 100px;
  opacity: 1;
} */
p4 {
  font-size: 30px;
  color: rgb(21, 21, 20);
  text-align: center;
}
/*.inputpg {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  opacity: 1;
}*/
.button6 {
  width: 180px;
  height: 47px;
  padding: 10px;
  background-color: rgba(245, 29, 21, 0.877);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.button7 {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgba(65, 14, 206, 0.877);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  opacity: 1;
}
.button8 {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  opacity: 1;
}
.btn3 {
  width: 180px;
  height: 47px;
  padding: 10px;
  background-color: rgb(149, 184, 211);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
}
.btn1 {
  width: 120px;
  height: 47px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(17, 170, 236, 0.863);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  margin-right: 30px;
}
.btn2 {
  width: 120px;
  height: 47px;
  padding: 10px;
  background-color: rgba(133, 66, 66, 0.963);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
}
.btn4 {
  width: 120px;
  height: 47px;
  padding: 10px;
  background-color: rgb(164, 156, 101);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
}
.btn5 {
  width: 120px;
  height: 47px;
  padding: 10px;
  background-color: rgba(53, 78, 122, 0.963);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial;
}
.addfly {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/3.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  opacity: .98;
}

